@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@300&display=swap');


header{
    min-height: 60px;
    min-width: 100vw;
    background-color: #146C94;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    letter-spacing: 4px;
}



